################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/go_bus_booking_app/FileContentIndex/910e092c-49cd-47f3-b8a6-5929a65808b3.vsidx
/.vs/go_bus_booking_app/FileContentIndex/c8758c7c-1753-4c27-aa99-76684b9bc6da.vsidx
/.vs/go_bus_booking_app/FileContentIndex/eaa05730-077f-4ff1-856f-20d2800b259e.vsidx
